body {
    background: linear-gradient(180deg, #261B12 0%, rgba(255, 255, 255, 0) 100%), #403D3C;
    background-size: 100% 125%;
}

.content {
    max-width: 815px;
    padding: 100px 30px;
    margin: auto;
}

.content p {
    /*margin-bottom: 80px;*/
    position: relative;
}

.section {
    margin-bottom: 30em;
}

.section3 {
    margin-bottom: 30em;
}

.sun {
    max-width: 300px;
    padding: 300px 30px;
    margin: auto;
    display: flex;
    background-color: #fff7c6;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #FFDE0080, 0 0 0 40px #FFDE0040, 0 0 0 60px #FFDE0020, 0 0 0 80px #FFDE0010, 0 0 0 100px #FFDE0000, 0 0 40px 100px #FFDE0010;
    animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
    0% {
        box-shadow: none;
    }
}

@keyframes rays {
    0% {
        box-shadow: 0 0 0 0 #FFDE0080, 0 0 0 20px #FFDE0080, 0 0 0 40px #FFDE0040, 0 0 0 60px #FFDE0020, 0 0 0 80px #FFDE0010, 0 0 40px 100px #FFDE0010;
    }
    100% {
        box-shadow: 0 0 0 20px #FFDE0080, 0 0 0 40px #FFDE0040, 0 0 0 60px #FFDE0020, 0 0 0 80px #FFDE0010, 0 0 0 100px #FFDE0000, 0 0 40px 100px #FFDE0010;
    }
}

.para {
    margin-top: 375px;
}

.para2 {
    margin-top: 75px;
}


/* typography */

p {
    font-family: 'Eczar', serif;
    text-align: left;
    font-size: 28px;
    line-height: 1.3;
    color: #F2EADF;
}

h1 {
    line-height: 0.8;
    font-family: 'Grenze', serif;
    max-width: 1000px;
    font-size: 10em;
    font-weight: 500;
    color: #F2EADF;
    margin-top: 20px;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Grenze', serif;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .5em;
    color: #F2EADF;
    margin-top: 2px;
}